body{
    background-color: rgb(255, 255, 255);
    width: 50vw;
}
#header {
    height: 200px;
    width: 1519px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(238, 244, 246);
}

.navbar-nav li a{
    position: absolute;
width: 34px;
height: 28px;
left: 1073px;
top: 92px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 28px;
/* identical to box height, or 175% */

display: flex;
align-items: center;

/* Dark Blue */

color: #0A2640;
}

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    position: absolute;
    width: 208px;
    height: 80px;
    left: 200px;
    top: 66px;
}

.navbar-nav a {

    width: 154px;
    height: 28px;
    left: 867px;
    top: 92px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;

    justify-content: space-between;
    display: flex;
    align-items: center;

    /* Dark Blue */

    color: black;
}

#content{
    height: 10px;
    width: 1012px;
    left: 300px;
    position: absolute;
}

#footer{
   
    position: absolute;
      width: 1385px;
      height: 373px;
      left: 78px;
      top: 719px;
      
  }
  